@import url('https://fonts.googleapis.com/css?family=Baloo Bhai');
@import url('https://fonts.googleapis.com/css2?family=B612&family=Baloo+Bhai+2&display=swap');

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: column;
    align-items: center;
    background-color: #424242;
}

#logo{
    width: 66px;
    height: 66px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Nav1{
    margin-left: 25px;
}

a{
    font-family: "Baloo bhai";
    color: #ffff;
    font-size: 28px;
    text-decoration: none;
}

#Buy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 300px;
    height: 66px;
    background-color: #DB7C16;
}

#Face{
    background-image: url("/img/image 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}